---
import Button from "./Button.astro";
---

<section class="hero">
  <nav>
    <span>YP</span>
    <Button buttonText="Header Button" />
  </nav>
</section>
<style>
  .hero {
    background-color: #cccecf;
    height: 488px;
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid;
  }
  nav {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / span 1;
    align-items: flex-start;
    margin-top: 48px;
  }
  span {
    padding: 1rem;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
  }
</style>
