---
import "../styles/general.css";
import Footer from "../pages/components/Footer.astro";
import Hero from "./components/Hero.astro";
import Heading from "./components/Heading.astro";
import BigCard from "./components/BigCard.astro";
import ycdk from "../assets/ycdk.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Hero />
    <h1>Astro</h1>
    <!-- <Layout>
      <Heading />
      <BigCard placeholder={ycdk} buttonText="LOREM IPSUM" order="1" />
      <BigCard placeholder={ycdk} buttonText="LOREM IPSUM" order="-1" />
    </Layout> -->
    <Footer />
  </body>
</html>
